@font-face {
    font-family: 'Share';
    src: url('/fileadmin/templates/fonts/share-bold-webfont.eot');
    src: url('/fileadmin/templates/fonts/share-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fileadmin/templates/fonts/share-bold-webfont.woff') format('woff'),
    url('/fileadmin/templates/fonts/share-bold-webfont.ttf') format('truetype'),
    url('/fileadmin/templates/fonts/share-bold-webfont.svg#Share-BoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgba(0, 0, 0, 0.02);
}
footer{
    background-color: rgba(0, 0, 0, 0.43);
padding: 15px;
}
footer h6{
    font-weight: bold;
}
main{
    padding-left: 15px;
    padding-right: 15px;
}
.logo img{
    height: 100px;
}
.header-top{
    padding: 15px;
}
.container{
    padding-left: 0;
    padding-right: 0;
    background-color: white;
}
/****HEADER****/
.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}


/***FOOTER***/

footer p, footer a{
    color: white;
}
.footer-tree-menu h6{
    text-align: center;
}
.footer-tree-menu, .footer-tree-menu ul, .footer-tree-menu li {
    position: relative;
}

.footer-tree-menu ul {
    list-style: none;
    padding-left: 32px;
}
.footer-tree-menu li::before, .footer-tree-menu li::after {
    content: "";
    position: absolute;
    left: -12px;
}
.footer-tree-menu li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
}
.footer-tree-menu li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}
.footer-tree-menu ul > li:last-child::after {
    height: 8px;
}