* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box; /* safari 3 needs this */
}
@font-face {
    font-family: 'Share';
    src: url('/fileadmin/templates/fonts/share-bold-webfont.eot');
    src: url('/fileadmin/templates/fonts/share-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fileadmin/templates/fonts/share-bold-webfont.woff') format('woff'),
    url('/fileadmin/templates/fonts/share-bold-webfont.ttf') format('truetype'),
    url('/fileadmin/templates/fonts/share-bold-webfont.svg#Share-BoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,html {
    height: 50%;
    color:black;
    font-family:verdana,arial;
    font-size:12px;
    margin:0px;
    padding:0px;
    background-color:#4e4f5d;
    background-color:#f6f6f6;
    min-width:1050px;
    text-align:center; /* centers divs in IE */
}

a {
    text-decoration:none;
    color:#32198f;
    color:#335f8d;
}
a:hover {
    color:#ff8400;
}
img {
    border:0px;
}

/************* STRUCTURE ***********************/

div {
    margin:0px;
    padding:0px;
}
div#container {
    width:1050px;
    height: 100%;
    text-align:left;
    margin:0px auto; /* centers div in FF */
    margin-bottom:30px;
    box-shadow:0px 3px 15px 0px #aaa;
    -ms-box-shadow: 0px 3px 15px 0px #aaa;
    -moz-box-shadow: 0px 3px 15px 0px #aaa;
    -webkit-box-shadow: 0px 3px 15px 0px #aaa;
}
div#container_header_top,
div#container_header_menu,
div#container_header_image,
div#container_breadcrumb,
div#container_content,
div#container_footer {

    /*width:100%;
    width:1050px;*/
}
div#container_header_top {
    background-color:white;
}
div#container_header_menu {
    /*border-bottom:1px solid #353645;*/
    /*border-top:1px solid #353645;*/
    /*border-bottom:1px solid #40404a;*/
    background-color:#4e4f5d;
    z-index:10000;
}
div#header_mobile {
    display:none;
}
div#container_header_image {
    background-color:#9ea0b4;
    background-image:url(../images/bgtop.jpg);
    background-position:center center;
    background-size:auto;
}
div#container_header_bg {
    height:152px;
}
div#container_breadcrumb {
    /*background-color:#b2b3bb;*/
    /*background-color:#fff;*/
    border-top:1px solid #d0d1d7;
    border-bottom:1px solid #d0d1d7;
    background-color:#e0e1e9;
}
div#container_content {
    background-color:white;
    height: 100%;
}
div#header_top,
div#header_menu,
div#header_image,
div#breadcrumb,
div#content,
div#footer,
div#typo3buddy {
    /*width:1028px;*/
    width:100%;
    text-align:left;
    padding:0px 25px;
}
div#header_top {
    height:120px;

}
div#header_top_left,
div#header_top_right {
    float:left;
}
div#header_top_left {
    padding-top:37px;
    width:600px;
    height: 100%;
}
div#header_top_right {
    width:400px;
    text-align:right;
    padding-top:51px;
}
div#header_image {
    height:120px;
}
div#header_menu {
    width:1050px;
    /*padding:0px;*/
    padding-left:10px;
    height:32px;
    background-color:#4e4f5d;
}

div#breadcrumb {
    padding-top:1px;
    height:21px;
}
div#content {
    padding-top:20px;
    padding-bottom:20px;
}
div#content_left,
div#content_menu {
    /*position:relative;*/
    display:block;
    float:left;
    width:220px;
    padding:10px;
    z-index:100000;
    border: thick double #0a001f;


}
div#content_right,
div#content_main {
    float:right;
    width:780px;
    padding:4px 0px 50px 25px;
}
div#content_left,
div#content_right {

}
div#footer {
    height:50px;
    padding:15px 25px;
    background-color:#4e4f5d;
}
div#footer_left {
    float:left;
    width:600px;
}
div#footer_right {
    float:right;
    width:200px;
}
div#typo3buddy {
    text-align:center;
}
div#typo3buddy,
div#typo3buddy a {
    color:#efefef;
}
div.clearer {
    clear:both;
}
/*********** TEXT ************/
div#content p,
div#content p.bodytext {
    line-height:21px;
    padding:0px;
    margin:0px;
    padding-bottom:22px;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NkAAIAAAoAAggA9GkAAAAASUVORK5CYII=); /* make text 100% wide on mobile devices */
}
div#content ol,
div#content ul {
    padding:0px;
    margin:0px;
    padding-bottom:22px;
    padding-left:30px;
}
div#content li {
    line-height:21px;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NkAAIAAAoAAggA9GkAAAAASUVORK5CYII=); /* make text 100% wide on mobile devices */
}
div#content h1,
div#content h2,
div#content h3,
div#content h4,
div#content h5,
div#content h6 {
    padding:0px;
    margin:0px;
    padding-bottom:18px;
    font-family:'Share',arial,verdana,tahoma;
    font-weight:normal;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NkAAIAAAoAAggA9GkAAAAASUVORK5CYII=); /* make text 100% wide on mobile devices */
}

div#content h1 {
    font-size:24px;
}
div#content h2 {
    font-size:18px;
    padding:16px 0px 16px 0px;
}
div#content h3 {
    font-size:16px;
    padding:0px;
    padding-bottom:10px;
}
div#content img {
    margin-left:12px;
    box-shadow:0px 3px 12px #000;
    -ms-box-shadow: 0px 3px 12px #000;
    -moz-box-shadow: 0px 3px 12px #000;
    -webkit-box-shadow: 0px 3px 12px #000;
}
div#content div.indent {
    margin:0px 0px 22px 10px;
    padding:5px 10px;
    font-family:"Courier New", Courier, monospace;
    font-size:11px;
    word-wrap:break-word;
    border-left:1px solid #e6e6e6;
}
div#content div.indent p,
div#content div.indent p.bodytext {
    padding:0px;
    margin:0px;
}
div#content table.contenttable p.bodytext {
    padding:0px;
    margin:0px;
}
div#content table.contenttable td,
div#content table.contenttable th {
    padding:1px;
    padding-right:15px;
}
div#content table.contenttable {
    padding:0px;
    margin:0px;
    padding-bottom:22px;
}
div#content img.typo3buddy {
    width:163px;
    height:163px;
}

div#content div#content_column_1,
div#content div#content_column_2 {
    float:left;
    width:50%;
}
div#content div#content_column_1 {
    padding-right:15px;
}
div#content div#content_column_2 {
    padding-left:15px;
}

/******************* MENUS ***********************/
/* menu general */
div.menu_ul ul,
div.menu_header ul,
div#content div.menu_ul ul,
div#content div.menu_header ul {
    display:inline;
    list-style: none;
    list-style-position: outside;
    padding:0px;
    margin:0px;
}

/************** menu breadcrumb ************/
div.menu_breadcrumb li {
    color:white;
    color:black;

    float:left;
    font-size:11px;
    padding-top:2px;
    padding-right:5px;
}
div.menu_breadcrumb li,
div.menu_breadcrumb li a {
    /*color:white;
    color:black;*/
}
div.menu_breadcrumb li a {
    color:#9294a6;
    color:#dbdcdf;
    color:black;
    color:#85858a;
    padding:0px;
    margin:0px;
}
/***************** menu left ***************/
div#content div.menu_left a {
    display:block;
    margin:0px;
    padding:7px 0px;
    line-height:16px;
    background-color:white;
}
div#content div.menu_left a:hover {
    background-color:white;
}
div#content div.menu_left li {
    margin:2px 0px;
    /*border-top:1px solid #e6e7f3;*/
}
div#content div.menu_left li.last {
    /*border-bottom:1px solid #e6e7f3;*/
}
div#content div.menu_left div.menu_act a {
    color:#ff8400;
}
div#content div.menu_left div.menu_act {
    background-color:white;
}
div#content div.menu_left div.menu_1 {

}
div#content div.menu_left div.menu_2 {
    padding-left:10px;
    margin-top:8px;
    margin-bottom:8px;
}
div#content div.menu_left div.menu_3 {
    padding-left:10px;
    margin-top:8px;
    margin-bottom:8px;
}


/************** menu header ***************/
div.menu_header li {
    padding:0px;
    margin:0px;
    float:left;
    margin-right:2px;
}
div.menu_header li a{
    color:white;
    font-family:verdana,arial,helvetica;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
    display:block;
    padding:5px 14px 5px 14px;
    line-height:22px;
    background-color:#4e4f5d;
}
div.menu_header li div.menu_header_no a,
div.menu_header li div.menu_header_act a {
    cursor:pointer;
}

div.menu_header li div.menu_header_act a,
div.menu_header li div.menu_header_actifsub a,
div.menu_header li:hover div.menu_header_no a {
    color:#ff8400;
}
div.menu_header li:hover div.menu_header_no a,
div.menu_header li:hover div.menu_header_ifsub a,
div.menu_header li:hover div.menu_header_actifsub a {
    background-color:white;
}
div.menu_header li:hover div.menu_header_no a,
div.menu_header li:hover div.menu_header_ifsub a {
    color:#363f4e;
}

/**** level 2 popup ********/
div.menu_header li ul {
    display:none;
    position:absolute;
    padding:10px 0px;
    width:300px;
    background-color:white;

    /* box-shadow: h-shadow v-shadow blur spread color inset; */
    box-shadow: 0px 4px 4px -1px #404040;
    -ms-box-shadow: 0px 4px 4px -1px #404040;
    -moz-box-shadow: 0px 4px 4px -1px #404040;
    -webkit-box-shadow: 0px 4px 4px -1px #404040;

    border-bottom-left-radius:6px 6px;
    border-bottom-right-radius:6px 6px;
    z-index:1000;
}
div.menu_header li ul li {
    float:none;
    margin:0px;
    background-color:white;
}
div.menu_header li ul li a:hover,
div.menu_header li ul li div.menu_sub_act a {
    color:#ff8400;
}
div.menu_header li ul li div.menu_sub_act {
    background-color:white;
}
div.menu_header li ul li a {
    color:#363f4e;
    font-size:14px;
    font-weight:normal;
    cursor:pointer;
    padding:4px 14px;
    background-color:white;
}
div.menu_header li:hover ul {
    display:block;
}
div.menu_header li:hover ul li {
    background-image:none;
}

/************ menu footer ****************/
div.menu_footer li {
    float:left;
    padding-right:10px;
}
div.menu_footer li,
div.menu_footer li a {
    color: #0a001f;
}

/*********** FLEXIBLE CONTENT **************/
div.content_2column_container {
    width:730px;
    width:100%;
}
div.content_column_left {
    float:left;
    width:365px;
    padding:0px;
    padding-right:10px;
    width:50%;
}
div.content_column_right {
    float:left;
    width:365px;
    padding:0px;
    padding-left:10px;
    width:50%;
}

/*********** fotoboek ******************/
div#content div.tx-gooffotoboek-pi1 td.gfpb_th {
    padding:10px;
}
div#content div.tx-gooffotoboek-pi1 table {
    margin-bottom:20px;
}
div#content div.tx-gooffotoboek-pi1 img {
    border:0px;
    padding:0px;
    margin:0px;
}
div#content div.tx-gooffotoboek-pi1 td.gfpb_th img {
    border:1px solid #606060;
    margin:0px;
}
div#content div.tx-gooffotoboek-pi1 div.fotonav img {
    width:auto;
    height:auto;
    margin:0px;
    box-shadow:none;
    -ms-box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
/************** re_searchbar *********************/
div.tx-researchbar-pi1 input.searchinput {
    width:120px;
}

/*************** re_socialmedia *********************/
div.re_socialmedia {
    position:relative;
}

/********* social media **********/
div.socialmedia {
    margin-top:3px;
    float:right;
    padding:0px;
}
div.socialmedia div.socialitem {
    float:left;
    text-align:right;
    width:auto;
    padding-left:7px;
}
div#content div.socialmedia div.socialitem img {
    margin:0px;
    box-shadow:none;
    -ms-box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
/********** donations ***********/
div.tx-t3bdonations-pi1 th,
div.tx-t3bdonations-pi1 td {
    padding:7px;
    border:1px solid white;
}
div.tx-t3bdonations-pi1 th {
    background-color:#d0d0d0;
}
div.tx-t3bdonations-pi1 tr.donation_table_row_odd {
    background-color:#f0f0f0;
}
div.tx-t3bdonations-pi1 tr.donation_table_row_even {
    background-color:#e0e0e0;
}
div.tx-t3bdonations-pi1 span.donation_na {
    color:#c0c0c0;
}

/************ RESPONSIVE CSS ***************/
img#mobile_menu {
    width:30px;
    height:30px;
}
/* tablets */
@media all and (max-width: 1050px) {
    body,html {
        min-width:300px;
    }
    div#container {
        width:100%;
        margin-bottom:0px;
        box-shadow:none;
        -ms-box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
    }
    div#header_menu {
        width:100%;
    }
    div#content_left,
    div#content_menu {
        display:block;
        width:22%;
    }
    div#content_main {
        width:78%;
    }
    div#content_main img {
        width:95%;
        height:auto;
    }
    div#content_main img.original-size {
        width:auto;
    }
    div#content_main img.typo3buddy {
        width:163px;
        height:163px;
    }
    div#content_main div.socialitem img {
        width:auto;
    }
    div#content div.tx-gooffotoboek-pi1 div.fotonav img {
        width:auto;
        height:auto;
    }
    div#footer_left {
        width:100%;
    }
    div#footer_right {
        display:none;
    }
    div#header_top_left {
        width:80%;
    }
    div#header_top_right {
        width:19%;
        /*display:none;*/
    }
    div#paypal img {
        width:auto;
        height:auto;
    }
}
/* all mobile devices */
@media all and (max-width: 800px) {
    div#container {
        margin-bottom:0px;
    }
    div#content_left,
    div#content_menu {

        display:none;
        width:250px;
        position:absolute;
        top:115px;
        left:0px;
        background-color:white;
        padding:10px;
        border-right:1px solid #4e4f5d;
        border-bottom:1px solid #4e4f5d;
    }
    div#content_main {
        width:100%;
        padding:0px;
    }
    div#content_main img {
        width:95%;
        height:auto;
    }
    div#content_main img.typo3buddy {
        width:163px;
        height:163px;
    }
    div#paypal img {
        width:auto;
        height:auto;
    }

    /* remove header menu */
    div#container_header_menu,
    div#header_menu {
        display:none;
    }
    div#header_mobile {
        display:block;
        height:35px;
        background-color:#4e4f5d;
        padding:2px 0px 0px 5px;
        cursor:pointer;
    }
    div#header,
    div#header_top,
    div#header_top_left,
    div#header_top_right,
    div#container_header_bg,
    div#container_header_top {
        height:80px;
    }
    div#container_header_bg {
        height:115px;
    }
    div#header_top_left {
        padding-top:20px;
    }
    div#header_top_right {
        padding-top:25px;
    }

    div#header_image,
    div#container_header_image {
        height:80px;
        display:block;
    }
    div#container_header_image {
        background-size:auto 80px;
    }

    div#header_top,
    div#header_menu,
    div#header,
    div#breadcrumb,
    div#content,
    div#footer {
        padding-left:10px;
        padding-right:10px;
    }
    div#footer {
        /*height:35px;*/
        padding-top:8px;
    }
    div#container_breadcrumb {
        /*height:auto;*/
        height:15px;
    }
    div#breadcrumb {
        display:none;
        height:auto;
    }
    div#header_top_left img {
        width:320px;
        height:auto;
    }
}

@media all and (max-width: 400px) {
    div#content_main img.original-size {
        float:none;
    }
    div#content_main img.typo3buddy {
        width:163px;
        height:163px;
    }
    div#content_main div.socialmedia {
        float:none;
        height:40px;
    }
    div#content_main div.socialmedia div.socialitem {
        text-align:left;
        width:auto;
        padding:0px;
        padding-right:5px;
    }
    div#header_top_left {
        padding-top:12px;
        width:75%
    }
    div#header_top_right {
        padding-top:15px;
        width:25%;
    }
    div#header_top_left img {
        width:220px;
        height:auto;
    }
    div#header_top_right img {
        width:20px;
        height:20px;
    }
    div#header,
    div#header_top,
    div#header_top_left,
    div#header_top_right,
    div#container_header_bg,
    div#container_header_top {
        height:50px;
    }
    div#container_header_bg {
        height:85px;
    }
    div#content_menu {
        top:85px;
    }

    div#header_image,
    div#container_header_image {
        height:50px;
        display:block;
    }
    div#container_header_image {
        background-size:auto 50px;
    }
    div#container_breadcrumb {
        /*height:auto;*/
        height:5px;
    }
    div#footer {
        /*height:60px;*/
    }
}